PyQt6
PyQt6-WebEngine
numpy
future
pandas
tensorflow
tensorflow-cpu
numba
ta
ray[tune]==2.7.0
optuna
scikit-learn
scikit-optimize
matplotlib
plotly
pyqtgraph
#MetaTrader5==5.0.45
pyzmq
lightgbm
#libomp-dev
xgboost
